@import "./main.scss";

.board {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-content: center;
}

.pokemonCard {
  img {
    width: 50px;
    height: auto;
  }
  max-width: 200px;
}

@media screen and (min-width: 530px) {
  .board {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
  }

  .pokemonCard {
    img {
      width: 80px;
    }
    min-width: 15vw;
    max-width: 100px;
  }
}

@media screen and (min-width: 900px) {
  .pokemonCard {
    img {
      width: 150px;
    }
    width: 20vw;
    max-width: 150px;
  }
}
