@import "./main.scss";

.gameInfo {
  display: flex;
  justify-content: center;
  gap: 4vw;
  position: sticky;
  top: 0;
  background: var(--skyblue-50);
  p {
    align-self: center;
    font-weight: 700;
    color: var(--red-900);
    font-family: "Roboto", sans-serif;
  }
}

.heartInfo {
  display: flex;
  gap: 10px;
  p {
    align-self: center;
  }
}

.rules {
  display: flex;
  justify-content: center;
  p {
    max-width: 35em;
    color: var(--red-900);
    font-family: "Roboto", sans-serif;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  transition: font-variation-settings 0.5s ease, color 0.5s ease;
}

.fullHeart {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  color: red;
}

.emptyHeart {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: black;
}

@media screen and (min-width: 530px) {
  .gameInfo {
    gap: 20vw;
    p {
      font-size: 16px;
    }
  }

  .rules {
    p {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 700px) {
  .gameInfo {
    p {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 900px) {
  .rules {
    p {
      font-size: 18px;
    }
  }
}
